@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="container" style="margin-top:160px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
        </p>
    </div>
</div>
