@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Phường 11<br />
    Quận 12,TP HCM<br />
    <abbr title="Phone">P:</abbr>
    0355509200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">HuuHung9200@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>